{% extends 'app/base.html' %}
{% block contenido %}
<h2>Tu Carrito de Compras</h2>
<table>
    <tr>
        <th>Alimento</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Precio Total</th>
        <th>Acciones</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.alimento.nombre_alimento }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.alimento.precio }}</td>
        <td>{{ item.precio_total }}</td>
        <td>
            <a href="{% url 'eliminar_del_carrito' item.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
<p>Total: ${{ carrito.get_total }}</p>
<a href="{% url 'realizar_pedido' %}">Realizar Pedido</a>
{% endblock %}